<!DOCTYPE html>
<html>
    <style>
      h1 {text-align: center;}
      f1 { font-size: 16px; }
      input {text: 20px}
   </style>
<body>
    <head<><c1><h1><f1>IBM Speech to Text Translator </f1><h1><c1></head>

  

  
        
    <form method='POST' enctype="multipart/form-data" action= 'uploader'>  
          <input type='file' id='filename' name='filename' placeholder = 'enter an mp3 file'>
          <audio controls></audio>
          
          <script>
            var audio = document.querySelector('audio');
            var input = document.querySelector('input');
            input.addEventListener('change', function() {
              var file = input.files[0];
              var url = URL.createObjectURL(file);
              audio.src = url;
            });
          </script>
           

         
          
       
       
       
        

          



   
        
    </form>

  
</body> 
</html> 