<!DOCTYPE html>
<html>
    <style>
      h1 {text-align: center;}
      f1 { font-size: 16px; }
      input {text: 20px}
   </style>
<body>
    <head<><c1><h1><f1>IBM Speech to Text Translator </f1><h1><c1></head>

  

  <form method="post" enctype="multipart/form-data">
        <div>
          <label for="audio_file">Choose file to upload</label>
          <input type="file" id="file" name="file" multiple />
          <audio scr="audio_file.mp3"></audio>
          <button type='submit'>Submit</button>
          <audio controls>
          <scource src="path>
          
       
       
       
        <div>

          



   
        
  </form>

  
</body> 
</html> 